ProjectIrene/Saved
ProjectIrene/Binaries
ProjectIrene/Intermediate
ProjectIrene/DerivedDataCache
ProjectIrene/.vs
ProjectIrene/Content/LevelPrototyping
ProjectIrene/Content/ThirdPerson
ProjectIrene/Content/__ExternalActors__
ProjectIrene/Content/__ExternalObjects__
ProjectIrene/Content/Characters
*blend1
/ProjectIrene/Build/Windows/FileOpenOrder
/ProjectIrene/Samples/PixelStreaming/WebServers
/ProjectIrene/Build/Windows
